.tdStyle{
    padding: 2px;
    border: 2px solid #89D1F3;
    text-align: center;

}
.thStyle{
    background: #89D1F3;
    border:1px #89D1F3 solid;
    color: white;
    padding: 2px 25px 2px 25px;
}
/* table{
    max-height: 400px;
    max-width: 400px;
    margin-bottom: 20px;
} */

.tableStyle {
    display: block;
    width: 98%;
    border: 1px solid #eee;
    max-height: 70%;
    overflow: auto;
}

.tbodyStyle {
    overflow: auto;
}
#cy
{
    margin-left:20px;
}

.background-bbva
{
    background-color: #52BCEC !important;
}


.container {
    width: 198px;
}